header{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    }
    header * {
        padding: 10px 0;
    }
    header h1 {
        font-weight: bolder;
    }
    body{
    
        background-color:  rgba(60, 126, 156, 0.753) ;
    }
    main{
        overflow: auto;
        margin: 10px auto 10px auto;
    }
    
    .displayedImage, .firstPage, .secondPage{
        border: 3px rgb(3, 3, 3) solid;
        width:32%;
        height: 350px;
        float: left;
        margin: 5px;
        text-align: center;
        background-color: rgba(45, 201, 45, 0.425);
        color: rgb(207, 15, 25);
    }
    .displayedImage img, .firstPage img, .secondPage img{
        width: 75%;
        height: 70%;
    }
    .displayedImage h2, .firstPage h2, .secondPage h2{
        margin: 5px auto 10px auto;
        font-weight: bolder;
        color: gainsboro;
    }
    .displayedImage p, .firstPage p, .secondPage p{
        margin: 15px auto 10px auto;
    }
    footer{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 10px;
        background-color: gray;
        color: honeydew;
    }