header{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    }
    header * {
        padding: 10px 0;
    }
    header h1 {
        font-weight: bolder;
    }
    body{
        background-color:  rgba(182, 144, 87, 0.753) ;
    }
    main{
        overflow: auto;
        margin: 10px auto 10px auto;
    }
    .displayedImage{
        border: 3px rgb(3, 3, 3) solid;
        width:32%;
        height: 350px;
        float: left;
        margin: 5px;
        text-align: center;
        background-color: rgba(80, 61, 36, 0.425);
        color: rgb(219, 219, 219);
    }
    .displayedImage img{
        width: 75%;
        height: 70%;
    }
    .displayedImage h2{
        margin: 5px auto 10px auto;
        font-weight: bolder;
        color: rgb(37, 34, 34);
    }
    .displayedImage p{
        margin: 15px auto 10px auto;
    }
    footer{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 10px;
        background-color: rgb(109, 98, 98);
        color: rgb(61, 75, 61);
    }